<!-- app/views/team/index.html.erb -->
<div class="gradient-custom">
  <div class="py-5 team4">
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-7 text-center">
          <h1 class="mb-3 text-white">The Gossip Project</h1>
        
          <h2 class="mb-3 text-white">La Team</h2>
          <h4 class="subtitle text-white">Nous avons imaginé pour toi le meilleur site de Gossip digital de toute la galaxy web !</h4>
          <h4 class="subtitle text-white">Tu n'auras plus besoin d'écouter tes amis les commères !</h4>
        </div>
      </div>

      <div class="row justify-content-center">
        <!-- Column 1 -->
        <div class="col-lg-6 mb-4 d-flex align-items-center justify-content-center"> <!-- Utilisation des classes d-flex et justify-content-center pour aligner verticalement et horizontalement -->
          <!-- Contenu de la colonne 1 -->
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://avatars.githubusercontent.com/u/82022919?v=4" alt="wrapkit" class="img-fluid rounded-circle team-img" />
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0 text-white">Robena Rasolond</h5>
                <h6 class="subtitle mb-3 text-white">PQ Suicide Specialist</h6>
                <p class="text-white">En cas de bug persistant, j'ai du Lotus Ultra Doux ! </p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Fin du contenu de la colonne 1 -->
        </div>
        <!-- Column 1 -->

        <!-- Column 2 -->
        <div class="col-lg-6 mb-4 d-flex align-items-center justify-content-center"> <!-- Utilisation des classes d-flex et justify-content-center pour aligner verticalement et horizontalement -->
          <!-- Contenu de la colonne 2 -->
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://media.licdn.com/dms/image/D4E35AQGmPlbP3QccEQ/profile-framedphoto-shrink_800_800/0/1704788736894?e=1708383600&v=beta&t=5qPwm_Wf5LkvVEIbqzz9yKE7cd2KWT9SCRgd-pmN1Gc" alt="wrapkit" class="img-fluid rounded-circle team-img" />
              <div class="pt-2">
                <h5 class="mt-4 font-weight-medium mb-0 text-white">Yann Rezigui</h5>
                <h6 class="subtitle mb-3 text-white">Migraine Specialist</h6>
                <p class="text-white">En cas de migraine persistante, contacte moi, on sera deux !</p>
                <ul class="list-inline">
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                  <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Fin du contenu de la colonne 2 -->
        </div>
        <!-- Column 2 -->
      </div>
    </div>
  </div>
</div>

<style>
  .team-img {
    width: 300px; /* ou toute autre taille souhaitée */
    height: 300px; /* ou toute autre taille souhaitée */
  }

  .gradient-custom {
    /* fallback pour les anciens navigateurs */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  }

  .text-white {
    color: white;
  }
</style>


